@import "../../../_mixins";
@import "../../../_variables";
    .interviewCard {
        width: 500px;
        height:  300px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 0px 3px 0px #ccc;
        h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 500;
            font-family: $primaryFont;
        }
        span {
            font-family: $secondaryFont;
            font-weight: 500;
            font-size: 16px;
            margin: 0;
        }
        .interviewBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            button {
                width: 140px;
                height: 40px;
                border: none;
                border-radius: 5px;
                font-weight: 600;
                font-family: $primaryFont;
                border: 2px solid $primaryColor;
                background-color: transparent;
                color: $primaryColor;
              &:hover {
                background-color: $primaryColor;
                color: #fff;
              }
            }
        }
}