@import "../../_mixins";
@import "../../_variables";

.container {
   width: 100%;
   padding: 10px 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 15px;
   .bee {
      position: fixed;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.8);
   }
   .header {
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px;
      button {
         background-color: transparent;
         border: none;
         font-size: 18px;
         border-radius: 5px;
         cursor: pointer;
         font-family: $primaryFont;
      }
   }
   .body {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .xyz {
         display: flex;
         width: 100%;
         .app {
            width: 100%;
            .dvtitle {
               width: 100%;
               height: 40px;
               background-color: #dc143c;
               padding: 0 10px;
               font-size: 12px;
               color: #fff;
               display: flex;
               align-items: center;
               justify-content: space-between;
               font-weight: 500;
               button {
                  height: 30px;
                  width: 30px;
                  border-radius: 100px;
                  border: none;
                  background-color: transparent;
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
            }
            .table {
               display: table;
               .row {
                  display: table-row;
                  &:nth-child(even) {
                     background-color: #eee;
                  }
                  .head,
                  .cell {
                     display: table-cell;
                     height: 50px;
                     padding: 10px;
                     font-family: $secondaryFont;
                     vertical-align: middle;
                  }
                  .head {
                     div {
                        width: 150px;
                     }
                  }
                  .cell {
                     width: 100%;
                     height: 60px;
                     div {
                        width: 100%;
                     }
                  }
               }
            }
         }
         .application {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 600px;
            height: 380px;
            padding: 0 5px;
            .dvtitle {
               width: 100%;
               height: 40px;
               background-color: #dc143c;
               padding: 0 10px;
               font-size: 12px;
               color: #fff;
               display: flex;
               align-items: center;
               font-weight: 500;
            }
            table {
               width: 100%;
               border-collapse: collapse;
               tbody {
                  width: 100%;
                  font-weight: 500;
                  tr {
                     width: 100%;
                     height: 40px;

                     &:nth-child(even) {
                        background-color: #eee;
                     }
                     th {
                        width: 150px;
                        height: 60px;
                        text-align: left;
                        font-weight: 400;
                        font-size: 17px;
                        font-family: $secondaryFont;
                        padding: 0 10px;
                     }
                     td {
                        text-align: left;
                        font-weight: 500;
                        font-size: 17px;
                        font-family: $secondaryFont;
                     }
                  }
               }
            }
            button {
               width: 100%;
               height: 45px;
               background-color: #dc143c;
               border: none;
               color: #fff;
               font-weight: 500;
               font-family: $primaryFont;
               cursor: pointer;
            }
         }
      }
      .feedback {
         width: 100%;
         .dvtitle {
            width: 100%;
            height: 40px;
            background-color: #dc143c;
            padding: 0 10px;
            font-size: 12px;
            color: #fff;
            display: flex;
            align-items: center;
            font-weight: 500;
         }
         table {
            width: 100%;
            thead,
            tbody {
               tr {
                  th,
                  td {
                     width: 90px;
                     min-height: 60px;
                     max-height: auto;
                     font-family: $primaryFont;
                     font-weight: 500;
                     text-align: center;
                  }
               }
               .fd {
                  width: 200px;
                  font-size: 15px;
                  text-align: justify;
               }
               td {
                  font-family: $secondaryFont;
                  font-size: 16px;
               }
               th {
                  height: 70px;
                  font-weight: 500;
                  font-size: 18px;
               }
            }
         }
      }
      .ftable {
         display: table;
         padding: 5px;
         .tableHeader {
            display: table-header-group;
            .fHeader {
               display: table-row;
               div {
                  display: table-cell;
                  font-family: $primaryFont;
                  height: 40px;
               }
            }
         }
         .tableBody {
            display: table-row-group;
         }
         .fbody {
            display: table-row;
            height: 40px;
            &:nth-child(odd) {
               background-color: #eee;
            }

            div {
               display: table-cell;
               width: 500px;
               height: auto;
               font-size: 16px;
               font-family: $secondaryFont;
               vertical-align: middle;
               padding: 0 5px;
               height: 60px;
            }
         }
      }
   }
}
