@import "../../../_mixins";
@import "../../../_variables";

.container {
    width: 500px;
    height: 600px;
    padding: 10px 20px;
    overflow-y: auto;
    position: fixed;
    transform: translate(100%, 10%);
    box-shadow: 0px 0px 3px 0px #ccc;
    border-radius: 10px;
    inset: 0;
    background-color: #fff;
    .title {
        font-family: $primaryFont;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .notifHolder {
        width: 100%;
    }
 
}
