@import "../../../_mixins";
@import "../../../_variables";

.container {
    width: 100%;
    padding: 10px;
    .header {
        width: 100%;
        h2 {
            font-family: $primaryFont;
            font-weight: 600;
            font-size: 24px;
        }
    }
    .con {
        display: flex;
        gap: 20px;
        .tabs {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: sticky;
            inset: 0;
            button {
                width: 200px;
                height: 30px;
                background-color: transparent;
                border: none;
                font-family: $primaryFont;
                font-size: 15px;
                outline: none;
                color: #ccc;
                cursor: pointer;
                text-align: left;
            }
            .active {
                width: 200px;
                font-weight: 600;
                color: $primaryColor;
            }
        }
    }
}