@import "../../../_mixins";
@import "../../../_variables";
.container {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px #ccc;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primaryColor;
        border-radius: 100px;
    }
    .message {
        width: 100%;
        position: absolute;
        inset: 0;
    }
    .applicationHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        h2 {
            font-family: $primaryFont;
            font-weight: 500;
            font-size: 30px;
        }
        button {
            height: 40px;
            width: 40px;
            border-radius: 100px;
            border: none;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #eee;
            }
        }
    }
  
    form {
        width: 100%;
        .profile, .address, .resume, .video{
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            gap: 10px;
                h2 {
                    font-weight: 500;
                    font-family: $primaryFont;
                    margin: 10px 0;
                    font-size: 20px;
                }
                input {
                    width: 100%;
                    height: 45px;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    box-shadow: 0px 0px 3px 0px #ccc;
                    padding: 10px;
                    &::placeholder{ 
                        color :#ccc;
                    }
                }
            
        }
        .resume, .video{
           gap: 5px;
           h2 {
            margin: 5px 0;
           }
            span {
                margin: 0;
            }
            .containerResume {
                height: 100px;
                width: 100%;
                border: 2px dashed $primaryColor;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                margin: 5px 0;
                span {
                    font-weight: 500;
                    font-family: $secondaryFont;
                    font-size: 16px;
                    color: $primaryColor;
                }
            }
        }
        button {
            height: 45px;
            width: 100%;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            font-family: $primaryFont;
            background-color: transparent;
            color: $primaryColor;
            border: 2px solid $primaryColor;
            cursor: pointer;
            &:disabled{ 
                color: #ccc;
                border: 2px solid #ccc;
            }
        }
    }
}